// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css");
@import "dsgov-assests/dist/css/dsgov-base.min";
@import "dsgov-assests/dist/css/dsgov-components.min";
@import "dsgov-assests/dist/css/dsgov-templates.min";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
